/* PC */

@media (min-width: 1024px) {
   
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .logonav {
        display: none;
    }
    .btn  {
        display: none;
    }
    #nav li {
        display: block;
        padding-left: 10px;
    }
    #nav li a {
        color: black;
        font-size: 17px;
    }
    #nav {
        display: none;
    }
    #header .menu {
        display: block;
        float: left;
    }
    #header {
        justify-content: normal;
    }
    .plot-about {
        margin-top: 5%;
    }
    .imgPlot {
        width: 68%;
    }
    #character {
        margin-top: 5%;
    }
    #footer h2 {
        font-size: 48px;
    }
}

/* Mobile */

@media (max-width: 800px) {
    #footer h2 {
        font-size: 30px;
    }
    .imgPlot {
        width: 82%;
    }
    #plot {
        margin-top: 0%;
    }
    .introduc-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-character {
        width: 100px;
        height: 100px;
    }
    #character {
        margin-top: 7%;
        margin-left: 30px;
    }
    .plot-about {
        width: 475px !important;
        margin-top: 7%;
    }
    .logonav {
        display: none;
    }
    .btn {
        display: none;
    }
    .p-3 h2 {
        font-size: 40px;
    }
    .p-3 h3 {
        font-size: 16px;
    }
    .col p {
        font-size: 18px;
        line-height: 120%;
        font-weight: 500;
    }
    #content {
        margin-top: 10%;
    }
    .content-character {
        font-size: 10px;
        white-space: nowrap;
    }
    .content-character h3 {
        font-size: 20px;
    }
    .content-character i {
        font-size: 5px;
        margin-right: 6px;
    }
    .content-character p {
        margin-bottom: 2px;
    }
    .about-character {
        margin-left: 6px;
    }
    .meo {
        margin-left: 15px !important;
    }
    #gamePlay {
        max-width: 90%;
    }
    .img-gameplay img {
        max-width: 450px;
    }
    .img-gameplay p {
        font-size: 14px;
    }
    .bgr {
        height: 2410px;
        position: fixed;
    }
    .main {
        position: absolute;
    }
    .plot {
        display: block;
    }
    #nav li {
        display: block;
        padding-left: 10px;
    }
    #nav li a {
        color: black;
        font-size: 17px;
    }
    #nav {
        display: none;
    }
    #header .menu {
        display: block;
        float: left;
    }
    #header {
        position: fixed;
        height: 64px;
        justify-content: normal;
    }
}