

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jura', sans-serif !important;
}

.mt-6 {
    margin-top: 60px;
}
.row {
    align-items: center;
}

.p-3 {
    font-weight: 600;
}
.p-3 h3 {
    font-weight: bold;
}

/* END */

/* NAVBAR */
.logonav {
    width: 150px;
    margin-bottom: 11px;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 64px;
    z-index: 2;
    background: #FFE7CF;
    backdrop-filter: blur(5px);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
}
#header .menu {
    float: right;
    padding: 0 21px;
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    display: none;
}
#header .menu:hover {
    cursor: pointer;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}
#nav {
    display: inline-block;
    margin: 0;
    padding: 0;
}
#nav li {
    position: relative;
    padding: 10px 50px;
}
#nav > li {
    display: inline-block;
}
#nav li a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}
.btn {
    background-color: #FDA656 !important;
    color: black !important;
}
/* END */

/* INTRODUC */
.introduc p {
    font-weight: lighter;
    color: #fff;
    font-size: 20px;
    padding: 20px 0px;
    white-space: nowrap;
}
.p-3 h2 {
    color: #fff;
    font-size: 57px;
    white-space: nowrap;
}

.introduc {
    padding: 10% 0%;
    background-color: #f4ac69;
    border-bottom-right-radius: 10%;
}
/* END */

/* Plot */
#plot {
    display: flex; 
    justify-content: center;
    margin-top: 5%;
}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-plot {
    border-radius: 7%;
}

.plot-about {
    padding: 10px !important;
    background-color: #F9CDA4;
    text-align: justify;
    width: 450px ;
    border-radius: 10px;
    box-shadow:10px 12px 0px rgba(212.9249945282936, 159.6809595823288, 110.72098955512047, 1);
}

.plot-about h3 {
    font-weight: bold;
    text-align: center;
}

.plot-about p {
    font-weight: 800;
}

/* End */

/* Character */

.img-character {
    margin-right: 28px;
    width: 200px;
    height: 200px;
    background-color: #F9CDA4;
    box-shadow:8px 8px 0px rgba(212.9249945282936, 159.6809595823288, 110.72098955512047, 1);
    border-radius: 12px;
}
.about-character {
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 105px;
}
.content-character i {
    font-size: 10px;
}
.content-character {
    margin-left: 0px;
}

/* End */

/* Gameplay */
#gamePlay {
    display: flex;
    flex-direction: column;
    background-color: #F9CDA4;
    box-shadow:8px 8px 0px rgba(212.9249945282936, 159.6809595823288, 110.72098955512047, 1);
    border-radius: 12px;
    padding: 20px;
    margin-top: 90px;
}

.img-gameplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.img-gameplay img {
    max-width: 500px;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 20px;
}
#gamePlay h3 {
    font-weight: bold;
}

/* End */

/* Intro */

#intro img {
    width: 90%;
    border-radius: 40px;
}

/* End */

/* Footer */

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4ac69;
    color: #fff;
    border-top-left-radius: 100px ;
}
.footer-content {
    display: flex;
    align-items: center;
    width: 60%;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End */


/* BACKGROUND */
.bgr {
    background: #FFE7CF;
    z-index: -1;
    width: 100%;
    height: 4120px;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    overflow: hidden;
}

.bgr-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}
/* END */