/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* font-family: Arial, Helvetica, sans-serif; */
}

body {
    font-family: 'Jura', sans-serif !important;
}

.mt-6 {
    margin-top: 60px;
}
.row {
    align-items: center;
}

.p-3 {
    text-align: justify;
    font-weight: 600;
}
.p-3 h3 {
    font-weight: bold;
}

/* END */

/* NAVBAR */
.logonav {
    width: 150px;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 64px;
    z-index: 1;
    background: linear-gradient(rgba(135, 38, 183, 0), rgba(234, 191, 255, 0.534));
    backdrop-filter: blur(5px);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
}
#header .menu {
    float: right;
    padding: 0 21px;
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    display: none;
}
#header .menu:hover {
    cursor: pointer;
}
#nav {
    display: inline-block;
    margin: 0;
    padding: 0;
}
#nav li {
    position: relative;
    padding: 10px 50px;
}
#nav > li {
    display: inline-block;
}
#nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}
.btn {
    background-color: #FDA656 !important;
    color: #fff !important;
}
/* END */

/* INTRODUC */
.col p {
    font-weight: lighter;
    color: #fff;
    font-size: 20px;
    padding: 20px 0px;
}
.p-3 h2 {
    color: #fff;
    font-size: 57px;
}

.introduc {
    margin-top: 15%;
}
/* END */

/* CONTENT */

#content {
    display: flex;    
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}
.content-bgr {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(228, 244, 255, 1);
    width: 1170px;
    height: 2800px;
    border-radius: 50px;
}
/* END */

/* PLOT */
.content-plot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-plot p {
    color: #000;
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    line-height: 180%;
}
/* END */

/* GAME-PLAY */

.imgGame {
    border-radius: 20px;
}
.chap1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.chap2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.chap1 img {
    max-width: 700px;
}
.chap4 img {
    max-width: 700px;
}

.chap2 p  {
    color: #000;
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    line-height: 180%;
}
.prop {
    display: flex;
    align-items: center;
}
.prop img {
    max-width: 60px;
}
.chap3 p {
    color: #000;
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    line-height: 180%;
}
.map {
    width: 92%;
    border-radius: 50px;
}
/* END */

/* CHARACTER */

#boarding {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 80px;
}

.boarding h2 {
    font-size: 55px;
    line-height: 110%;
}

.container-boarding {
    z-index: 1;
    height: 45px;
    color: rgb(118, 162, 191);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
}

.container-boarding p {
    z-index: 1;
    cursor: pointer;
    color: #6c7589;
    line-height: 25px;
    font-size: 24px;
}

.container-boarding p:hover {
    color: #070a24;
}

.tab-boar {
    margin: 0 70px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.tab-boar h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: justify;
}

.trigger {
    z-index: 0;
    opacity: 1;
    background-color: rgba(37, 58, 94, 1);
    border-radius: 10px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    width: 0;
    right: 0%;
    box-shadow: 0 4px 4px rgba(15,18,31,.08);
    transition: all 0.2s ease;
}


.content-boar {
    width: 100%;
    height: 374px;
    margin-top: 42px;
    position: relative;
    display: block;
}

.container-character.new {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.use-case {
    width: 100%;
    height: 100%;
    background-color:rgba(217, 217, 217, 1) ;
    border: 1px solid #e3e7ec;
    border-radius: 32px;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 20px 25px;
    margin: 70px;
}

.container-character {
    display: none;
    width: 100%;
    height: 100%;
}



.user-boar h2 {
    color: #070a24;
    margin-bottom: 25px;
    line-height: 120%;
}

.user-boar p {
    font-size: 18px;
    font-weight: bold;
    line-height: 180%;
    text-align: justify;
}

.user-boar {
    display: flex;
    text-align: left;
    align-items: flex-start;
    flex-direction: column;
}

.user-boar h4 {
    color: #55575b;
    font-size: 16px;
    font-weight: 700;
}

.nhanvat {
    display: flex;
}

.nhavat2 {
    display: flex;
}

.img-onboarding {
    z-index: 2;
    max-width: 55%;
    margin-left: 20px;
    margin-right: -40px;
    position: relative;
}

.img-onboarding img {
    max-width: 300px;
}

.user-boar button {
    background-color:rgba(255, 255, 255, 1);
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    width:120px;
	height:40px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}

/* END */

/* FOOTER */
#footer {
    
}

.img-footer {
    position: relative;
}

.text-footer {
    position: absolute;
}
/* END */

/* BACKGROUND */
.bgr {
    background: linear-gradient(rgba(23, 32, 56, 1), rgba(162, 62, 140, 1));
    z-index: -1;
    width: 100%;
    height: 4300px;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    overflow: hidden;
}
/* END */